services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    volumes:
      - D:/n8n-data:/home/node/.n8n
    env_file:
      - ./.env
    networks:
      - task-network

networks:
  task-network:
    external: true
    name: task-manager-service_default

